* {box-sizing: border-box;}

.position-relative {position: relative !important;}
.position-fixed {position: fixed !important;}
.float-left {float: left !important;}
.float-right {float: right !important;}
.width-full {width: 100% !important;}
.width-half {width: 50% !important;}
.flex {display: flex !important;}

body {
	margin: 0;
}

body, textarea {
	background: #181818;
	color: #CCC;
}

select:hover, button:hover, button.active, .content-tab-selected, .cfg-tab-selected {
	background: #484848 !important;
	color: #FFF !important;
	cursor: pointer;
}

.nav {
	margin: 0.5% 0.5%;
	padding: 0 0.5%;
	background: #222;
	border: 2px solid #222;
	border-radius: 5px;
	font-size: 15px;
	height: auto;
	user-select: none;
}

.nav button {
	padding: 0.5%;
	border: none;
	background: #222;
	color: #CCC;
	transition: 0.3s;
}

#new-cfg, #remove-cfg, #cfg-tabs button {
	padding: 0 0.5em;
	border-right: 1px solid #444;
}

#left-content, #right-content {
	margin: 0 0.5%;
}

select {
	background: #181818;
	color: #CCC;
	border: 2px solid #222;
}

button {
	background: #222;
	color: #CCC;
	border: 2px solid #181818;
}

#cfg-content, #console, #bindarea, #sar-hud, #console-autocomplete, #liveconsole-complete, #liveconsole {
	height: 40em;
	resize: none;
	font-family: monospace;
	border: 1px solid #444;
	overflow-y: scroll;
	tab-size: 4;
}

#sar-hud {
	height: auto;
	overflow-y: hidden;
}

#sar-hud pre {
	margin: 0;
}

#bindarea {
	caret-color: transparent;
	overflow-y: none;
}

#console span, #cfg-content {
	margin: 0;
	white-space: pre-wrap;
	word-wrap: anywhere;
}

.stack {
	display: grid;
	border-top: none;
	border-bottom: none;
	margin-top: 0;
	outline: none;
	display: grid;
}
.stack>* {
	grid-column: 1;
	grid-row: 1;
	background: none;
}

#liveconsole-complete {
	color: #555;
}

#liveconsole, #liveconsole-complete, #bindarea {
	height: 2em;
}

#console-autocomplete {
	height: auto;
	border-top: none;
	margin-top: 0;
	font-family: monospace;
	border: 1px solid #444;
	white-space: pre-wrap;
	word-wrap: anywhere;
	overflow-y: hidden;
}
